<div id="about_page">
	<div class="bordsans_top"> </div>

	<div class="bordsans_mid">
		<div class="title"> 
			<h1>About Us</h1> 
		</div>
		<div id="gallery">
		<a id="fancybox" href="/assets/DSC_0012.JPG" title="Place"><img style="width: 250px;" src="/assets/DSC_0012.JPG" alt="" /></a>
		<a id="fancybox" href="/assets/DSC_0012.JPG" title="Place"><img style="width: 250px;" src="/assets/DSC_0012.JPG" alt="" /></a>
		<a id="fancybox" href="/assets/DSC_0012.JPG" title="Place"><img style="width: 250px;" src="/assets/DSC_0012.JPG" alt="" /></a>
		<a id="fancybox" href="/assets/DSC_0012.JPG" title="Place"><img style="width: 250px;" src="/assets/DSC_0012.JPG" alt="" /></a>
		<a id="fancybox" href="/assets/DSC_0012.JPG" title="Place"><img style="width: 250px;" src="/assets/DSC_0012.JPG" alt="" /></a>
		<a id="fancybox" href="/assets/DSC_0012.JPG" title="Place"><img style="width: 250px;" src="/assets/DSC_0012.JPG" alt="" /></a>
		</div>
		<div class="text">
			<p> <span style="font-size: 1.5em; font-weight: bold;">Veneto</span> is about simple and authentic food executed with skill, expertise and old world standards of care, and served in an environment that is casual, warm and welcoming.</p>
		</div>
		<br class="clear" />
	</div>

	<script type="text/javascript">
		$(document).ready(function() {
			/* This is basic - uses default settings */
			$("a#fancybox").fancybox();
		});
	</script>

	<div class="bordsans_bot"> </div>		
</div>