<div id="about_page">
	<div class="bord_top"> </div>

	<div class="bord_middle">
		<div class="title"> 
			<h1>About Us</h1> 
		</div>
		<div class="text">
		<h2> About US </h2>
		<p> Veneto is about simple and authentic food executed with skill, expertise and old world standards of care, and served in an environment that is casual, warm and welcoming.</p>

		</div>
		<img class="picture" src="/assets/image_about.JPG" />
		<br class="clear" />
	</div>

	<div class="bord_bot"> </div>		
</div>