<div id="about_page">
	<div class="bordsans_top"> </div>

	<div class="bordsans_mid">
		<div class="title"> 
			<h1>About the Restaurant</h1> 
		</div>
		<div id="gallery">
			<div class="row">
			<a href="/assets/About_oven_large.jpg" rel="prettyPhoto" title="Veneto Gourmet Pizza & Pasta"><img class="g_img" src="/assets/About_oven_small.jpg" /></a>
			<a href="/assets/About_pasta_large.jpg" rel="prettyPhoto" title="Veneto Gourmet Pizza & Pasta"><img class="g_img cent" src="/assets/About_pasta_small.jpg" /></a>
			<a href="/assets/About_shelves_large.jpg" rel="prettyPhoto" title="Veneto Gourmet Pizza & Pasta"><img class="g_img" src="/assets/About_shelves_small.jpg" /></a>
			</div><div class="row">
			<a href="/assets/About_salad_large.jpg" rel="prettyPhoto" title="Veneto Gourmet Pizza & Pasta"><img class="g_img" src="/assets/About_salad_small.jpg" /></a>
			<a href="/assets/About_wall_large.jpg" rel="prettyPhoto" title="Veneto Gourmet Pizza & Pasta"><img class="g_img cent" src="/assets/About_wall_small.jpg" /></a>
			<a href="/assets/About_shrimp_large.jpg" rel="prettyPhoto" title="Veneto Gourmet Pizza & Pasta"><img class="g_img" src="/assets/About_shrimp_small.jpg" /></a>
			</div>
		</div>
		<div class="text">
			<p> <span style="font-size: 1.5em; font-weight: bold;">Veneto</span> is about simple and authentic food executed with skill, expertise and old world standards of care, and served in an environment that is casual, warm and welcoming.</p>
		</div>
		<br class="clear" />
	</div>

	<script type="text/javascript" charset="utf-8">
	  $(document).ready(function(){
	    $("a[rel^='prettyPhoto']").prettyPhoto({social_tools:false});
	  });
	</script>

	<div class="bordsans_bot"> </div>		
</div>