<div id="contact_page">
	<div class="bord_top"> </div>

	<div class="bord_middle">
		<div class="title"> 
			<h1>Contact Veneto</h1> 
		</div>
		<div class="left_col">	
			<div class="name">Veneto Restaurant</div>	
			318 East Avenue</br>Rochester, NY 14607</br>585 454 5444</br></br>
			veneto@frontier.com
		</div>

		
		<iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Veneto+Gourmet+Pizza+%26+Pasta,+318+East+Ave,+Rochester,+NY&amp;aq=0&amp;oq=vene&amp;sll=42.746632,-75.770041&amp;sspn=7.002292,16.193848&amp;ie=UTF8&amp;hq=Veneto+Gourmet+Pizza+%26+Pasta,&amp;hnear=318+East+Ave,+Rochester,+New+York+14607&amp;t=m&amp;ll=43.157829,-77.595341&amp;spn=0.007513,0.013733&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Veneto+Gourmet+Pizza+%26+Pasta,+318+East+Ave,+Rochester,+NY&amp;aq=0&amp;oq=vene&amp;sll=42.746632,-75.770041&amp;sspn=7.002292,16.193848&amp;ie=UTF8&amp;hq=Veneto+Gourmet+Pizza+%26+Pasta,&amp;hnear=318+East+Ave,+Rochester,+New+York+14607&amp;t=m&amp;ll=43.157829,-77.595341&amp;spn=0.007513,0.013733&amp;z=16&amp;iwloc=A" style="color:#222;float:right;margin-top:1em;margin-right: 100px;">View Larger Map</a></small>

		</br><br class="clear" />
	</div>

	<div class="bord_bot"> </div>		
</div>