<div id="menu">
	<div class="title"> 
		<h1>Menu</h1>
		<div class="garnish"></div> 
	</div>

	<ul id="navi">
		<li> 
			 <a style="float: left;" href="/welcome/lunch"> Lunch </a>
			 <a style="float: left;margin-left: 175px;"href="/welcome/dinner"> Dinner </a>
			 <a class="selected" style="float: right;" href="/welcome/drinks"> Drinks </a>
			 <a style="float: right;margin-right: 175px;"href="/welcome/wine"> Wine </a> 			 
			 <div class="menu_garnish one"> </div> <div class="menu_garnish two"> </div> <div class="menu_garnish three"> </div>
		</li>
	</ul>

	<div class="items">
		<h2>White</h2>
		<span class="type">glass bottle</span></br>
		<span class="name">Funf Riesling, Germany</span><span class="price">7.5 26</span>
		<div class="desc">
			Peach and fine apple aromas, a firm and fruity palate, and crisp acidity that results in a wwell balanced, easy to drink wine.
		</div>
		<span class="name">Thirsty Owl Dry Riesling, Finger Lakes, New York</span><span class="price">8 30</span>
		<div class="desc">
			Bursting with fresh peach followed by a crisp finish.
		</div>
		<span class="name">Villa Maria Sauvignon Blanc, New Zealand</span><span class="price">8.5 30</span>
		<div class="desc">
			Vibrant and bursting with flavors of gooseberry, passion fruit, fresh citrus lime and exotic clean acidity.
		</div>
		<span class="name">Santa Cristina Pinot Grigio, Italy</span><span class="price">8.5 30</span>
		<div class="desc">
			Straw yellow in color, the aromas recall yellow fruit, white flowers and orange blossoms.
		</div>
		<span class="name">Snoqualmie Chardonnay, Washington</span><span class="price">7.5 26</span>
		<div class="desc">
			Aromas of fresh pure chardonnay with nuances of citrus and pear, spiced with oak and a balanced clean finish.
		</div>
		<span class="name">Sterling Vintner's Collection Chardonnay, California</span><span class="price">8 30</span>
		<div class="desc">
			Nice flavors of green apple, melon, fig, vanilla and spices with a slightly oaked finish.
		</div>

<!-- Blush Wines -->

		<h2 style="margin-top: 2em;">Blush</h2>

		<span class="name">Beringer White Zinfandel, California</span><span class="price">7 26</span>
		<div class="desc">
			Fresh red berry, citrus and melon aromas and flavors, rounded out with subtle hints of nutmeg and clove.
		</div>

<!-- Red Wines -->

		<h2 style="margin-top: 2em;">Red</h2>

		<span class="name">Bellagio Straw Basket Chianti, Italy</span><span class="price">8 30</span>
		<div class="desc">
			Invigorating flavors of sour cherry, blackberry and spice followed by a dry vivid finish.
		</div>
		<span class="name">Cecchi Bonizio Sangiovese, Italy</span><span class="price">7 26</span>
		<div class="desc">
			Aromas of red cherry fruit and dried herbs.  Full-bodied with sweet fruit flavors.
		</div>
		<span class="name">Red Diamond Pinot Noir, California</span><span class="price">8 28</span>
		<div class="desc">
			Bursts with flavors of red berries and black cherries, touch of spearmint with a crisp, lingering finish.
		</div>
		<span class="name">Terrazas Alto Malbec, Argentina</span><span class="price">8.5 30</span>
		<div class="desc">
			Deep crimson with sharp candy red highlights.  Upon swirling, jazzy notes of blackberries and sour cherries develop into fine traces of smoke and spices.
		</div>
		<span class="name">Tapena Tempranillo, Spain</span><span class="price">8 26</span>
		<div class="desc">
			Aromas of ripe fruit and a floral bouquet that is integrated with nuances of cedar and toasty oak.
		</div>
		<span class="name">14 Hands "Hot to Trot" Red Blend, Washington</span><span class="price">8 28</span>
		<div class="desc">
			Aromas of berries, cherries, and currants, dark fruit flavors with subtle notes of baking spice and mocha.
		</div>
		<span class="name">Greg Norman Shiraz, Australia</span><span class="price">9 32</span>
		<div class="desc">
			Dark plum, cherry and blueberry aromas are balanced with light cedar and vanillin oak nuances, with a touch of spice.
		</div>
		<span class="name">Hogue Cabernet Sauvignon, Washington</span><span class="price">8 28</span>
		<div class="desc">
			Big, bold flavors of dark plum, rich cassis and currant, with a touch of cinnamon, vanilla and persimmon.  The wine is soft and smooth on the palate, and the well-integrated oak adds a pleasing spice note.
		</div>

<!-- By the Bottle -->

		<h2 style="margin-top: 2em;">By The Bottle</h2>

		<span class="name">Maso Canali Pinot Grigio, Italy</span><span class="price">31</span>
		<div class="desc">
			Light citrus aromas with enticing flavors of lemon and fresh apple, with floral notes.
		</div>
		<span class="name">Heron Hill Unoaked Chardonnay, Finger Lakes, New York</span><span class="price">30</span>
		<div class="desc">
			Cherry blossoms, lemon zest, and lychee aromas.  Refreshing with slight tropical fruit notes.
		</div>
		<span class="name">Heron Hill Cabernet Franc, Finger Lakes, New York</span><span class="price">32</span>
		<div class="desc">
			A rich lush palate is defined by raspberry, dried cherry and tobacco leaf.
		</div>
		<span class="name">Hess Select North Coast Cabernet Sauvignon, California</span><span class="price">35</span>
		<div class="desc">
			Shows plump black and red fruits in the nose, a round and full mid-palate with hints of smoky oak and baking spice, a smooth, easy-going finish.
		</div>
		<span class="name">Earthquake Zinfandel, California</span><span class="price">45</span>
		<div class="desc">
			Dried plum and deep cocoa on the nose.  Brambly blackberry and deep cocoa balance out the bold tannins.
		</div>
		<span class="name">Banfi Chianti Classico Riserva, Italy</span><span class="price">35</span>
		<div class="desc">
			Rich bouquet of cherries, plums and iris.  Deep cherry and leather flavors with subtle wood notes.
		</div>
		<span class="name">Chalone Monterey Pinot Noir, California</span><span class="price">35</span>
		<div class="desc">
			Fragrant heirloom roses, ripe black cherries and a touch of tobacco.  Red fruit brightens across the palate, picking up raspberry and spice.
		</div>
		<span class="name">Prunotto "Fiulot" Barbera D'Asti, Italy</span><span class="price">32</span>
		<div class="desc">
			Plum and cherry aroma.  Fruit and freshness combined with intensity and opulence.
		</div>

<!-- Beers -->

		<h2 style="margin-top: 2em;">Beer List</h2>
		<div class="beer">Peroni - LaRossa Dark – Moretti – Great Lakes Pale Ale – Brooklyn Seasonal – Stella Artois – Coors Light – Sam Adams – Amstel Light – Genny Light – Honey Brown – Great Lakes Eliot Ness Lager – Blue Moon – Southern Tier Seasonal – Souther Tier IPA</div>

<!-- Other Beverages -->

		<h2 style="margin-top: 2em;">Other Beverages</h2>
		<div class="beer">Hot Coffee – Tea – Cappuccino – Espresso – Sparkling Water - Soda – Iced Tea - Lemonade</div>
	</div>
</div>