<div id="event" class="row">

	<div class="events col-sm-12">
		<div class="title col-sm-12"> 
			<h1>Events & Parties at Veneto</h1> 
		</div>
		<div class="row">

			<div class="left_col col-sm-3 col-sm-offset-1">
				<h2 style="margin-top: 0;"> Need an event host? </h2>

				Veneto is situated in the trendy east end of Rochester near many hotels & attractions.  If you are interested in hosting an event at Veneto, please call. </br></br>We would be happy to create make a wonderful event, banquet, holiday, or celebration.

				<h2> Address & Contact </h2>	
				318 East Avenue</br>Rochester, NY 14607</br>585.454.5444
			</div>

			<div class="col-sm-6 col-sm-offset-1"><img src="/assets/image_about.JPG" /></div>
		</div>
	</div>	
</div>