<div id="event">
	<div class="bordsans_top"> </div>

	<div class="bordsans_mid">

		<div style="float:left; width: 300px; margin-left: 35px; margin-top: 0px;">
			We would be happy to host your next party!

			Call Us.
		</div>

		<img src="/assets/image_about.JPG" />

		</br><br class="clear" />
	</div>

	<div class="bordsans_bot"> </div>		
</div>