<div id="event">
	<div class="bordsans_top"> </div>

	<div class="bordsans_mid">
		<div class="title"> 
			<h1>Events & Parties at Veneto</h1> 
		</div>
		<div class="left_col">
			<h2> Need an event host? </h2>

			Veneto is situated in the trendy east end of Rochester near many hotels & attractions.  If you are interested in hosting an event at Veneto, call us. We would be happy to work with all of your event needs.

			<h2> Address & Contact </h2>	
			318 East Avenue</br>Rochester, NY 14607</br>585.454.5444
		</div>

		<img src="/assets/image_about.JPG" />

		</br><br class="clear" />
	</div>

	<div class="bordsans_bot"> </div>		
</div>