<div id="index">
        <div class="slider-wrapper theme-dark">
            <div id="slider" class="nivoSlider">
                <img src="/assets/image_one.JPG" data-thumb="/assets/image_one.JPG" alt="" />
                <img src="/assets/image_two.JPG" data-thumb="/assets/image_two.JPG" alt="" />
                <img src="/assets/image_three.JPG" data-thumb="/assets/image_three.JPG" alt="" />
                <img src="/assets/image_four.JPG" data-thumb="/assets/image_four.JPG" alt="" />
            </div>
        </div>

    <script type="text/javascript">
		$(window).load(function() {
		        $('#slider').nivoSlider({
			        effect: 'random', // Specify sets like: 'fold,fade,sliceDown'
			        slices: 10, // For slice animations
			        animSpeed: 350, // Slide transition speed
			        pauseTime: 5000, // How long each slide will show
				});
		    });

	</script>

	<div id="gray">
		<div class="bordsans_top"> </div>
		<div class="bordsans_mid">
			<div class="ratings_title"> OUR CUSTOMERS RAVE </div>
			<img class="ratings" src="/assets/ratings_img.png" />
		</div>
		<div class="bordsans_bot"> </div>
			<div id="hours">
				<h1> Restaurant Hours </h1>
				<div class="container">
					<div class="day">
						<strong class="hrl"> Monday: </strong> <span class="hrr"> 5:00pm - 9:00pm </span>
					</div>
					<div class="day">
						<strong class="hrl"> Tuesday - Thursday:</strong>
						<span class="hrr"> 11:00am - 2:00pm | 5:00pm - 10:00pm </span>
					</div>
					<div class="day">	
						<strong class="hrl"> Friday:</strong>
						<span class="hrr"> 11:00am - 2:00pm | 5:00pm - 11:00pm </span>
					</div>
					<div class="day">
						<strong class="hrl"> Saturday:</strong>
						<span class="hrr"> 5:00pm - 11:00pm </span>
					</div>
					<div class="day">
						<strong class="hrl"> Sunday:</strong>
						<span class="hrr"> 4:30pm - 9:00pm </span>
					</div>
				</div>
			</div>
	</div>
	<br class="clear" />

</div>

