<div id="menu">
	<div class="bord_top"> </div>

	<div class="bord_middle">
		<div class="title"> 
			<h1> Menu </h1>
		</div>

		<div id="navi">
			 <a href="/welcome/lunch"> Lunch </a>
			 <a style="margin-left: 275px;" href="/welcome/dinner"> Dinner </a>
			 <a style="margin-left: 275px;" href="/welcome/drinks"> Drinks </a>
			 <div class="menu_garnish one"> </div>
			 <div class="menu_garnish two"> </div>
			 <div class="menu_garnish three"> </div>
			 <div class="menu_garnish four"> </div>

			 <div class="menu_garnish six"> </div>
			 <div class="menu_garnish seven"> </div>
			 <div class="menu_garnish eight"> </div>
			 <div class="menu_garnish nine"> </div>
		</div>
		</br class="clear">
	</div>

	<div class="bord_bot"> </div>

	<div class="bord_top"> </div>

	<div class="bord_middle">
		<div id="inner">
			<div class="menu_head"> Take a Bite of Italy </div>
			<p>At Veneto we pride ourselves on excellent food created in a warm, comfortable atmosphere.  Browse our menus to find a delectable choice for lunch, excellent and diverse dinner entrees, and plentiful drink and dessert options that will surely satisfy the most demanding food connoisseur.</p>
		</div>
	</div>
	<div class="bord_bot"> </div>
</div>