<div id="menu" class="row">
	<div class="bord_top"><img src='/assets/bord_top.png' /></div>

	<div class="bord_middle">
		<div class="title"> 
			<h1> Menu </h1>
		</div>
		<div id="navi">
				 <div class="col-sm-4">
				 	<a href="/welcome/lunch"> Lunch </a>
				 </div>
				 <div class="col-sm-4">
				 	<a href="/welcome/dinner"> Dinner </a>
				 </div>
				 <div class="col-sm-4">
				 	<a href="/welcome/drinks"> Drinks </a>
				 </div>
			</div>
		</br class="clear">
	</div>

	<div class="bord_bot"><img src="/assets/bord_bot.png" /></div>

	<div class="bord_top"><img src='/assets/bord_top.png' /></div>

	<div class="bord_middle">
		<div id="inner">
			<div class="menu_head"> Take a Bite of Italy </div>
			<p>At Veneto we pride ourselves on excellent food created in a warm, comfortable atmosphere.  Browse our menus to find a delectable choice for lunch, excellent and diverse dinner entrees, and plentiful drink and dessert options that will surely satisfy the most demanding food connoisseur.</p>
		</div>
	</div>
	<div class="bord_bot"><img src="/assets/bord_bot.png" /></div>
</div>