<div id="menu">
	<div class="bord_top"> </div>

	<div class="bord_middle">
		<div class="title"> 
			<h1> Menu </h1>
		</div>

		<div id="navi">
			 <a class="selected" href="/welcome/lunch"> Lunch </a>
			 <a style="margin-left: 160px;" href="/welcome/dinner"> Dinner </a>
			 <a style="margin-left: 160px;" href="/welcome/drinks"> Drinks </a>
			 <a style="margin-left: 160px;" href="/welcome/wine"> Wine </a> 			 
			 <div class="menu_garnish one"> </div> <div class="menu_garnish two"> </div> <div class="menu_garnish three"> </div>
		</div>
		</br class="clear">
	</div>

	<div class="bord_bot"> </div>
</div>