/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
	min-height: 100%;
	margin-: 0;
	padding: 0;
	overflow-x:hidden;
}

body {
	min-height: 100%;
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}


#header {
	z-index: 15;
	position: fixed;
	top: -1px;
	width: 100%;
	color: #fafafa;
	background: #261600; /* Old browsers */
	background: -moz-linear-gradient(left, #261600 0%, #5b513b 50%, #261600 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#261600), color-stop(50%,#5b513b), color-stop(100%,#261600)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #261600 0%,#5b513b 50%,#261600 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #261600 0%,#5b513b 50%,#261600 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #261600 0%,#5b513b 50%,#261600 100%); /* IE10+ */
	background: linear-gradient(to right, #261600 0%,#5b513b 50%,#261600 100%); /* W3C */
	border-bottom: 5px solid #806C4A;
	box-shadow: 0px -1px 10px 6px #222;

	.logo {
		margin-top: 1px;
		margin-left: auto;
		margin-right: auto;

		a {
			display: block;
			margin: auto;
		}

		img {
			margin-top: 1.25em;
			width: 100%;
		}
	}

	.info {
		text-align: center;
		padding: 15px 0;

		span {
			text-shadow: 2px 2px #333;
		}
	}
	
	#navibar {

		#links {
			width: 80%;
			max-width: 1100px;
			padding: 0;
			margin-bottom: 0;
			margin-left: auto;
			margin-right: auto;
			text-transform: uppercase;
			font-family:"Trebuchet MS", Helvetica, sans-serif;
			font-weight: 900;
			text-align: justify;

			a {
				display: block;
				font-size: .9em;
				color: #fafafa;
				text-decoration: none;
				opacity: .9;
				z-index: 25;
				text-shadow: 2px 2px #222;
				-webkit-transition: all .15s ease-in-out;
		        -moz-transition: all .15s ease-in-out;
		        -ms-transition: all .15s ease-in-out;
		        -o-transition: all .15s ease-in-out;
		        transition: all .15s ease-in-out;
			}

			a:hover {
				color: #fff;
				opacity: 1;
			}
		}

		#links:after {
		    content: '';
		    display: inline-block;
		    width: 100%;
		}

		#links li {
		    display: inline-block;
		}
	}
}

#main_contain {
	height: 100%;
	background: url('/assets/site_bg.jpg');
	background-size: 100%;
	background-position: top left;
	position: relative;
	margin:0;
	padding-top: 250px;

	#page {
		position: relative;
		height: 100%;
		width: 1096px;
		margin-left: auto;
		margin-right: auto;
		.box {
			width: 956px;
			height: 100%;
			padding-left: 70px;
			padding-right: 70px;

			.left {
				float: left;
				position: relative;
				right: 70px;
				top: 10px;
				opacity: .4;
			}

			.right {
				float: right;
				position: relative;
				left: 70px;
				top: 10px;
				opacity: .4;
			}
		}
	}
}

#footer {
	font-family: 'Arial, helvetica' sans-serif;
	font-size: .8em;
	line-height: 1.25em;
	width: 100%;
	background: #222;
	height: 135px;
	color: #aaa;
	text-align: center;
	padding-top: 15px;
	margin-top: 100px;
	box-shadow: 0px -3px 10px #222;
	border-top: 2px solid #444;

	.wrapper {
		width: 1070px;
		margin-left: auto;
		margin-right: auto;
		display: table;
		text-align: left;

		h3 {
			color: #eee;
		}

		.something {
			width: 250px;
			display: table-cell;
			text-align: left;

			.fb {
				background: url('/assets/footer_fb.jpg') no-repeat;
				height: 46px;
				width: 46px;
				margin-right: 20px;
				display: inline-block;
			}

			.ta {
				background:url('/assets/footer_trip.jpg') no-repeat;
				height: 46px;
				width: 46px;
				margin-right: 20px;
				display: inline-block;
			}

			.yp {
				background:url('/assets/footer_yelp.jpg') no-repeat;
				height: 46px;
				width: 46px;
				display: inline-block;
			}	

			.icon {
				opacity: .4;
			}			

			.icon:hover {
				opacity: .8;
			}
		}

		.address {
			width: 250px;
			display: table-cell;
			text-align: right;
		}

		.copyright {
			width: 250px;
			color: #bbb;
			display: table-cell;
			text-align: center;
			font-size: .9em;

			img {
				opacity: .5;
				-moz-transition:opacity .25s ease-in-out;
			    -webkit-transition:opacity .25s ease-in-out;
			    -o-transition:opacity .25s ease-in-out;
			    transition:opacity .25s ease-in-out;
			}

			img:hover {
				opacity: 1;
			}
		}
	}
}

@media (min-width: 1000px) {
	
	.logo {
		width: 825px;
	}
}

@media (max-width: 1000px) and (min-width: 500px) {

	#header {

		.logo {

			a {
				width: 400px;
			}
		}
	}

	#main_contain {
		padding-top: 200px;
	}
}

@media (max-width: 500px) {

	#header {
		position: relative;

		.logo {

			a {
				width: 250px;
			}
		}

		.info {
			display: none;
		}

		#navibar {

			#links {
				text-align: center;

				li {
					display: block;
					padding: 5px 0;
				}
			}
		}
	}

	#main_contain {
		padding-top: 100px;
	}
}