/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html,body {
	min-height: 100%;
	background: url('/assets/site_bg.jpg');
	background-size: 100%;
	background-position: top left;
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}

#splash {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url('/assets/construction.jpg');
	background-size: cover;
	background-position: center center;
	overflow: hidden;
}

#main_contain {
	height: 100%;
	position: relative;

	#header {
		z-index: 15;
		position: fixed;
		top: 0px;
		width: 100%;
		height: 127px;
		color: #fafafa;
		background: url('/assets/header_wood.png') repeat-x;
		white-space: nowrap;

		.logo {
			margin-top: 25px;
			width: 441px;
			height: 74px;
			margin-left: auto;
			margin-right: auto;

			img {
				width: 441px;
			}
		}

		.left_end {
			display: inline-block;
			width: 34px;
			height: 41px;
			margin-left: 335px;
			margin-top: 25px;
			background: url('/assets/lend.png');
		}
		
		#navibar {
			height: 73px;
			margin-top: 20px;
			margin-left: -4px;
			padding-top: 21px;
			background: url('/assets/header_navibar.png') repeat-x;

			.links {
				width: 800px;
				margin-left: auto;
				margin-right: auto;
				text-transform: uppercase;
				font-family:"Trebuchet MS", Helvetica, sans-serif;
				font-weight: 900;
				word-spacing: auto;

				a {
					float: right;
					font-size: 1.2em;
					color: #fafafa;
					text-decoration: none;
					opacity: .9;
					text-shadow: 2px 2px #222;
					-webkit-transition: all .15s ease-in-out;
			        -moz-transition: all .15s ease-in-out;
			        -ms-transition: all .15s ease-in-out;
			        -o-transition: all .15s ease-in-out;
			        transition: all .15s ease-in-out;
				}

				a:hover {
					color: #fff;
					opacity: 1;
				}
			}
		}
	}

	#page {
		position: relative;
		margin-bottom: 550px;
		top: 260px;
		height: 100%;
		width: 1096px;
		margin-left: auto;
		margin-right: auto;
		.box {
			width: 956px;
			height: 100%;
			padding-left: 70px;
			padding-right: 70px;

			.left {
				float: left;
				position: relative;
				right: 70px;
				top: 10px;
				opacity: .4;
			}

			.right {
				float: right;
				position: relative;
				left: 70px;
				top: 10px;
				opacity: .4;
			}
		}
	}

	#footer {
		font-family: 'Arial, helvetica' sans-serif;
		font-size: .8em;
		line-height: 1.25em;
		width: 100%;
		position: absolute;
		bottom: 0;
		background: #222;
		height: 135px;
		color: #aaa;
		text-align: center;
		padding-top: 15px;
		box-shadow: 0px -3px 10px #222;

		.wrapper {
			width: 940px;
			margin-left: auto;
			margin-right: auto;
			display: table;
			text-align: left;

			.something {
				width: 250px;
				display: table-cell;
				text-align: left;
			}

			.address {
				width: 250px;
				display: table-cell;
				text-align: right;
			}

			.contact {
				text-align: center;
				width: 250px;
				display: table-cell;		
			}
		}
	}
}
