<!DOCTYPE html>
<html>
<head>
  <title>Veneto Restaurant</title>
  <link href='http://fonts.googleapis.com/css?family=Marck+Script|Parisienne|Junge' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css?v=2.1.4" type="text/css" media="screen" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-43568745-2', 'venetorestaurant.com');
	  ga('send', 'pageview');
  </script>
</head>

	<body>
		<div id="main_contain">
			<div id="header">

				<div class="logo"><a href="/welcome/index"><img src="/assets/header_logo.png" /></a></div>
				
				<div id="navibar">

					<div class="links">
						<a href="/welcome/contact"> CONTACT  </a>
						<a href="/welcome/events" style="margin-right: 197px;"> EVENTS & PARTIES </a>
						<a href="/welcome/about" style="margin-right: 197px;"> ABOUT </a>
						<a href="/welcome/menus" style="margin-right: 197px;"> MENU </a>
					</div>
				</div>
			</div>

			<div id="page">
				<div class="box">
					<%= yield %>
				</div>
			</div>

			<div id="footer">
				<div class="wrapper">

					<div class="something">
						<h3> Follow us: </h3>
						<a href="https://www.facebook.com/pages/Veneto-Gourmet-Pizza-Pasta/122173121129568" target="blank"><div class="fb icon"> </div></a>
						<a href="http://www.tripadvisor.com/Restaurant_Review-g48503-d415587-Reviews-Veneto_Woodfired_Pizza_Pasta-Rochester_Finger_Lakes_New_York.html" target="blank"><div class="ta icon"> </div></a>
						<a href="http://www.yelp.com/biz/veneto-wood-fired-pizza-and-pasta-rochester" target="blank"><div class="yp icon"> </div></a>
					</div>
					<div class="contact">
						Veneto Restaurant © 2013.  All Rights Reserved.</br>
						<span style="opacity: .6;">Web Solution by <a href="http://www.responsive.co/" target="blank">Responsive Technology</a></span>
					</div>
					<div class="address">
						<h3> Find us: </h3>
						318 East Avenue</br>Rochester, NY 14607</br>585 454 5444</br>veneto@frontier.com
					</div>

				</div>
			</div>
			<br class="clear" />
		</div>
	</body>

</html>
