<!DOCTYPE html>
<html>
<head>
  <title>Veneto Restaurant</title>
  <link href='http://fonts.googleapis.com/css?family=Marck+Script|Parisienne|Junge' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css?v=2.1.4" type="text/css" media="screen" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

	<body>
		<div id="main_contain">
			<div id="header">

				<div class="logo"><a href="/welcome/index"><img src="/assets/header_logo.png" /></a></div>
				
				<div id="navibar">

					<div class="links">
						<a href="/welcome/contact"> CONTACT  </a>
						<a href="/welcome/events" style="margin-right: 197px;"> EVENTS & PARTIES </a>
						<a href="/welcome/about" style="margin-right: 197px;"> ABOUT </a>
						<a href="/welcome/menus" style="margin-right: 197px;"> MENU </a>
					</div>
				</div>
			</div>

			<div id="page">
				<div class="box">
					<%= yield %>
				</div>
			</div>

			<div id="footer">
				<div class="wrapper">

					<div class="something">
						<h3> Follow us: </h3>
						<a href="http://www.facebook.com" target="blank"><div class="fb icon"> </div></a>
						<a href="#"><div class="gp icon"> </div></a>
						<a href="#"><div class="yp icon"> </div></a>
					</div>
					<div class="contact">
						Veneto Restaurant © 2013.  All Rights Reserved.</br>
						<span style="opacity: .6;">Web Solution by Responsive Technology</span>
					</div>
					<div class="address">
						<h3> Find us: </h3>
						318 East Avenue</br>Rochester, NY 14607</br>585 454 5444</br>veneto@frontier.com
					</div>

				</div>
			</div>
			<br class="clear" />
		</div>
	</body>

</html>
